In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("3. Police Data.csv")

In [3]:
data.head()

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,1/2/2005,1:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,8:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [4]:
print('total number of rows in data set are : ',data.shape[0])

total number of rows in data set are :  65535

In [5]:
print('total number of columns in data set are : ',data.shape[1])

total number of columns in data set are :  15

In [6]:
data.columns

Index(['stop_date', 'stop_time', 'country_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [7]:
data.describe()

       country_name  driver_age_raw    driver_age
count           0.0    61481.000000  61228.000000
mean            NaN     1967.791106     34.148984
std             NaN      121.050106     12.760710
min             NaN        0.000000     15.000000
25%             NaN     1965.000000     23.000000
50%             NaN     1978.000000     31.000000
75%             NaN     1985.000000     43.000000
max             NaN     8801.000000     88.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65535 non-null  object
 1   stop_time           65535 non-null  object
 2   country_name        0 non-null      float64
 3   driver_gender       61474 non-null  object
 4   driver_age_raw      61481 non-null  float64
 5   driver_age          61228 non-null  float64
 6   driver_race         61475 non-null  object
 7   violation_raw       61475 non-null  object
 8   violation           61475 non-null  object
 9   search_conducted    65535 non-null  bool
 10  search_type         2479 non-null   object
 11  stop_outcome        61475 non-null  object
 12  is_arrested         61475 non-null  object
 13  stop_duration       61475 non-null  object
 14  drugs_related_stop  65535 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 6.6+ MB

In [9]:
data['driver_race'].value_counts()

White       45747
Black        8267
Hispanic     5611
Asian        1639
Other         211
Name: driver_race, dtype: int64

In [10]:
data['violation_raw'].value_counts()

Speeding                            37204
Other Traffic Violation             11926
Equipment/Inspection Violation       6516
Special Detail/Directed Patrol       2383
Registration Violation               2243
Call for Service                      793
Violation of City/Town Ordinance      170
Motorist Assist/Courtesy              138
APB                                    51
Suspicious Person                      38
Warrant                                10
Seatbelt Violation                      3
Name: violation_raw, dtype: int64

In [11]:
data['violation'].value_counts()

Speeding               37204
Moving violation       11926
Equipment               6516
Other                   3583
Registration/plates     2243
Seat belt                  3
Name: violation, dtype: int64

In [12]:
data['search_conducted'].value_counts()

False    63056
True      2479
Name: search_conducted, dtype: int64

In [13]:
data['search_type'].value_counts()

Incident to Arrest                                          1074
Probable Cause                                               579
Inventory                                                    173
Reasonable Suspicion                                         149
Protective Frisk                                             126
Incident to Arrest,Inventory                                 104
Incident to Arrest,Probable Cause                             79
Probable Cause,Reasonable Suspicion                           38
Incident to Arrest,Protective Frisk                           31
Incident to Arrest,Inventory,Probable Cause                   26
Probable Cause,Protective Frisk                               23
Inventory,Probable Cause                                      14
Inventory,Protective Frisk                                    11
Incident to Arrest,Inventory,Protective Frisk                 11
Incident to Arrest,Probable Cause,Protective Frisk            10
Protective Frisk,Reasonable Suspicion                         10
Incident to Arrest,Reasonable Suspicion                        8
Inventory,Reasonable Suspicion                                 4
Incident to Arrest,Probable Cause,Reasonable Suspicion         3
Incident to Arrest,Inventory,Reasonable Suspicion              2
Inventory,Probable Cause,Protective Frisk                      2
Incident to Arrest,Protective Frisk,Reasonable Suspicion       1
Inventory,Probable Cause,Reasonable Suspicion                  1
Name: search_type, dtype: int64

In [14]:
data['stop_outcome'].value_counts()

Citation            56564
Arrest Driver        2009
Warning              1889
N/D                   423
No Action             339
Arrest Passenger      251
Name: stop_outcome, dtype: int64

In [15]:
data['is_arrested'].value_counts()

False    59215
True      2260
Name: is_arrested, dtype: int64

In [16]:
data['drugs_related_stop'].value_counts()

False    65017
True       518
Name: drugs_related_stop, dtype: int64

In [17]:
data.drop(columns=['country_name'],inplace=True)

In [18]:
data.isnull().sum()

stop_date                 0
stop_time                 0
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [19]:
data['driver_gender'].fillna(data['driver_gender'].mode()[0],inplace=True)

In [20]:
data.driver_age_raw = data.driver_age_raw.fillna(data.driver_age_raw.mean())

In [21]:
data['driver_age_raw_log'] = np.log(data['driver_age_raw'])

C:\Users\KIMI GAJJAR\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [22]:
data.replace([np.inf,-np.inf],np.nan,inplace=True)

In [23]:
data.driver_age_raw_log = data.driver_age_raw_log.fillna(data.driver_age_raw_log.mean())

In [24]:
data.driver_age = data.driver_age.fillna(data.driver_age.mean())

In [25]:
data['driver_age_log'] = np.log(data['driver_age'])

In [26]:
data['driver_race'].fillna(data['driver_race'].mode()[0],inplace=True)

In [27]:
data['violation_raw'].fillna(data['violation_raw'].mode()[0],inplace=True)

In [28]:
data['violation'].fillna(data['violation'].mode()[0],inplace=True)

In [29]:
data['search_type'].fillna(data['search_type'].mode()[0],inplace=True)

In [30]:
data['stop_outcome'].fillna(data['stop_outcome'].mode()[0],inplace=True)

In [31]:
data['is_arrested'].fillna(data['is_arrested'].mode()[0],inplace=True)

In [32]:
data['stop_duration'].fillna(data['stop_duration'].mode()[0],inplace=True)

In [33]:
data.isnull().sum()

stop_date             0
stop_time             0
driver_gender         0
driver_age_raw        0
driver_age            0
driver_race           0
violation_raw         0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
driver_age_raw_log    0
driver_age_log        0
dtype: int64

In [34]:
data.to_csv(r"C:\Users\KIMI GAJJAR\Desktop\csv_file\police_eda.csv")

In [35]:
data

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,driver_age_raw_log,driver_age_log
0,1/2/2005,1:55,M,1985.000000,20.000000,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False,7.593374,2.995732
1,1/18/2005,8:15,M,1965.000000,40.000000,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False,7.583248,3.688879
2,1/23/2005,23:15,M,1972.000000,33.000000,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False,7.586804,3.496508
3,2/20/2005,17:15,M,1986.000000,19.000000,White,Call for Service,Other,False,Incident to Arrest,Arrest Driver,True,16-30 Min,False,7.593878,2.944439
4,3/14/2005,10:00,F,1984.000000,21.000000,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False,7.592870,3.044522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65530,12/6/2012,17:54,F,1987.000000,25.000000,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False,7.594381,3.218876
65531,12/6/2012,22:22,M,1954.000000,58.000000,White,Speeding,Speeding,False,Incident to Arrest,Warning,False,0-15 Min,False,7.577634,4.060443
65532,12/6/2012,23:20,M,1985.000000,27.000000,Black,Equipment/Inspection Violation,Equipment,False,Incident to Arrest,Citation,False,0-15 Min,False,7.593374,3.295837
65533,12/7/2012,0:23,M,1967.791106,34.148984,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False,7.584667,3.530733
65534,12/7/2012,0:30,F,1985.000000,27.000000,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False,7.593374,3.295837

In [36]:
data = pd.get_dummies(data,columns=['driver_gender','driver_race','violation_raw','violation','search_conducted','search_type','is_arrested','drugs_related_stop'])

In [37]:
data['stop_date'] = pd.to_datetime(data['stop_date'])

In [38]:
data.set_index('stop_date',drop=True,inplace=True)

In [39]:
x = data.drop(columns=['stop_time','driver_age_raw','stop_duration','stop_outcome'],axis=1)
y = data['stop_outcome']

In [40]:
y = pd.get_dummies(y,columns=['stop_outcome'])

In [41]:
y

            Arrest Driver  Arrest Passenger  Citation  N/D  No Action  Warning
stop_date
2005-01-02              0                 0         1    0          0        0
2005-01-18              0                 0         1    0          0        0
2005-01-23              0                 0         1    0          0        0
2005-02-20              1                 0         0    0          0        0
2005-03-14              0                 0         1    0          0        0
...                   ...               ...       ...  ...        ...      ...
2012-12-06              0                 0         1    0          0        0
2012-12-06              0                 0         0    0          0        1
2012-12-06              0                 0         1    0          0        0
2012-12-07              0                 0         1    0          0        0
2012-12-07              0                 0         1    0          0        0

[65535 rows x 6 columns]

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=0)

In [44]:
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import Ridge,LinearRegression,Lasso

In [45]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler,PolynomialFeatures

In [46]:
from sklearn.tree import DecisionTreeClassifier

In [47]:
pipe = make_pipeline(PolynomialFeatures(), DecisionTreeClassifier(max_depth = 5))

In [48]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('polynomialfeatures', PolynomialFeatures()),
                ('decisiontreeclassifier',
                 DecisionTreeClassifier(max_depth=5))])

In [49]:
pipe.score(x_train,y_train)

0.9564736400396735